.superior{

  background-color: #BFC9CA;

}
.img-logo{
  max-width: 50%;
}
.redes{
margin-top: 60px;
max-height: 100px;

min-width: 120px
}

.rsocial{
  max-width: 25%;
  margin-top: 30px;
}
.imagenes{
  width: 50%;
  max-height: 80px;
  margin-left: 65%;
}
.nav{
  background-color: #E7F0F1;
  margin-left: 10p
}
